<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Survey</title>
</head>

<body>
    <div class="container">
        <h1>Create a Survey</h1>
        <form id="surveyForm" method="POST">
            <div>
                <label for="surveyTitle">Survey Title</label>
                <input type="text" id="surveyTitle" placeholder="Enter Survey Title" name="title" required>
            </div>

            <div>
                <label for="description">Survey Description</label>
                <textarea cols="50" id="description" placeholder="Enter Survey Description" name="description"
                    required></textarea>
            </div>

            <div>
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startTime" required>
            </div>

            <div>
                <label for="endDate">End Date</label>
                <input type="date" id="endDate" name="endTime" required>
            </div>

            <div class="question-fields">
                <label for="questionType">Question Type</label>
                <select name="questionType" id="questionType">
                    <option value="">Select Question Type</option>
                    <option value="multiple_choice">Multiple Choice</option>
                    <option value="short_answers">Short Answers</option>
                </select>
            </div>

            <div id="questionFields">
                <!-- Question fields will be dynamically generated here -->
            </div>

            <button type="button" id="addQuestion">Add Question</button>
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <script src="/server/views/scripts/addQuestion.js"></script>

</body>

</html>
